*.onnx linguist-vendored
*.txt linguist-vendored
*.stdout linguist-vendored
*.lock linguist-vendored
runners/py-libs/pure-py/** linguist-vendored
runners/onnx-models/** linguist-vendored
runners/nix/trg/softfloat/berkeley-softfloat-3/** linguist-vendored
