[submodule "third-party/wasmtime"]
	path = genvm/third-party/wasmtime
	url = https://github.com/bytecodealliance/wasmtime.git
[submodule "sdk-python/third-party/RustPython"]
	path = sdk-python/third-party/RustPython
	url = https://github.com/RustPython/RustPython.git
[submodule "sdk-rust/third-party/wasi-rs"]
	path = sdk-rust/third-party/wasi-rs
	url = https://github.com/bytecodealliance/wasi-rs/
